{% load staticfiles %}
<html>

<head>

  <meta charset="UTF-8">

  <title>Login</title>

  <link rel="stylesheet" type="text/css" href="{% static 'web/loginstyle.css' %}" />

  <script src="https://cdn.firebase.com/js/client/2.2.3/firebase.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>


<body>

  <html lang="en-US">
  <head>

    <meta charset="utf-8">

    <title>Notes</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">

  </head>

  <body>

    <div class="container">
      <img id="image" src="{% static 'web/muhc.gif' %}">
      <div id="login">

          <fieldset class="clearfix">
            <p><input style="display:none" id="userid" name="userid" type="password"  value="userid"></p>

            <p><span class="fontawesome-user"></span><input id="note" name="note" type="text" value="Username"></p>

            <p><span class="fontawesome-lock"></span><input id="pword" name="pword" type="password"  value="Password"></p>

            <p><input type="submit" value="Submit" onclick="authenticate();"></p>
          </fieldset>
          <script type="text/javascript">

      var myFirebaseRef = new Firebase("https://crackling-inferno-5412.firebaseio.com/");

      function setField(){
        var myTextField = document.getElementById('note').value;
        var paramsRef = myFirebaseRef.child("params");
        var setUserRef = paramsRef.child("setUser");

        var uname = document.getElementById('note').value;
        var uSplit = uname.split(".");
        var unameRef = uSplit[0];

        alert(unameRef);
        var thisUserRef = myFirebaseRef.child("users").child(unameRef);
        thisUserRef.child("userid").once("value", function(data){
                    var s = document.getElementById('userid');
                    s.value = data.val();
                    alert("svalue: " + parseInt(s.value));
                    var curUserRef = setUserRef.child("curUser");
                    curUserRef.set(parseInt(s.value));
                  }, function(errorObject){
                     alert("The read failed: " + errorObject.code);
        });

        var dataRef = myFirebaseRef.child("data");

        dataRef.on("child_changed", function(snap){
          $(document).ready(function(){
              alert("in toHome function");
              //var d = $.get("{% url 'login' %}", { uname: uname, pword: pword, userid: userid});
              //$(document).html(d);
              var str = "{% url 'home' %}" + "?userid=" + document.getElementById('userid').value;
              window.location.replace(str);
          });
        });

      }

      function authenticate(){
        alert("heree!");
        var uname = document.getElementById('note').value;
        var pword = document.getElementById('pword').value;
        
        myFirebaseRef.authWithPassword({
          email    : uname,
          password : pword
        }, function(error, authData) {
          if (error) {
            alert("Login Failed!");
          } else {
            alert("Login Succeded!");
            setField();           
          }
        });
      }
      </script> 

      <div class="error_msg">
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    </div>
  </div>
  </div>
  </body>
</html>

</body>

</html>